/* tabs */

.tab-content {
    padding: 10px;
    border-color: #dee2e6;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}



/* Questions */

.inactive-question {
    display:none;
}



/* Rotated headers */
th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(0px, 0px)
    rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
}
