/*** Title bar ***/

/* title */
.navbar img {
  max-height: 70px;
}

.navbar-header {
  margin-right: 20px !important;
}



/* navbar elements */
.navbar-nav>li>a {
  padding-bottom: 25px;
  padding-top: 25px;
}







/*** collapse panels ***/
.panel-collapse > div {
  padding:10px 15px;
  width:100%;
}

span.computed {
  font-size: 0.8em;
  font-variant: small-caps;
  float:right;
}

div.computed {
  opacity:0.5;
}


/***** Questions ******/
.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto !important;
  max-width: 100%;
}

/* Header of panels */
div.panel-heading {
  cursor: pointer;
}

/* Category completion */
.completed-category div.panel-heading {
  background-color: #d0e0b6;
}
.completed-category div.panel-heading span:after {
  float: right;
  font-size: 0.8em;
  font-variant: small-caps;
  content: "adapted";
}

.default-category div.panel-heading {
  background-color: #f1d4a5;
}
.default-category div.panel-heading span:after {
  float: right;
  font-size: 0.8em;
  font-variant: small-caps;
  content: "default";
}

.computed-category div.panel-heading {
  background-color: #a5ccf1;
}
.computed-category div.panel-heading span:after {
  float: right;
  font-size: 0.8em;
  font-variant: small-caps;
  content: "computed";
}

/** Modifications to components **/

/* Hiding ugly minor tick marks */
.irs-grid-pol.small {
    height: 0 !important;
}

/* Hide mispositioned spinners: the spinners are incorrectly displayed in the rstudio viewer and are thus hidden here */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/***** Methods table ******/
tr.selected {
  background-color: #e7dbf8;
}
.table-striped>tbody>tr.selected:nth-of-type(odd) {
  background-color: #f4eefb;
}

/* Score */
td > span.score {
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

td > img.trajectory_type {
  width:40px;
}

td > img.trajectory_type.inactive {
  opacity:0.1;
}


/***** Tooltips ******/

.tooltippable {
  text-decoration: dotted underline;
}

.tooltip-inner {
  background-color: #EEE;
  border: 1px solid black;
  color: black;
  max-width: 400px;
  font-size: 14px;
}

.tooltip-inner img{
  max-width: 380px;
}


/* Footer */
.footer {
  margin: 0 auto;
  text-align: center;
}

.footer img {
  max-height: 75px;
}



/*** Arrow animation ***/

.arrow4 {
  animation: slide4 4s linear infinite;
}

@keyframes slide4 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
